pygame-ce==2.5.2
PyOpenGL==3.1.9a2
numpy==2.2.1
moderngl==5.12.0
perlin-noise==1.13
pillow==11.1.0
psutil==6.1.1
python-dateutil==2.9.0.post0
pytz==2024.2
pandas==2.2.3
Pympler==1.1
dateutils==0.6.12
glcontext==3.0.0
memory-profiler==0.61.0